
<div>
    <button id="getAll">Get 5 latest posts</button>
    <button id="getNature">Get 5 latest nature posts</button>
</div>

<div>
  <img id="loader" class="hide" src="https://i.gifer.com/9wcA.gif" height="140">
  <ul id="content"></ul>
</div>

